:root {
  --primary-white: hsl(0, 0%, 85%);
  --secondary-white: hsl(0, 0%, 94%);
  --tertiary-white: hsl(0, 0%, 70%);
  --icon: hsl(240, 0%, 50%);
  --primary-black: hsl(240, 15%, 10%);
  --secondary-black: hsl(240, 5%, 20%);
  --tertiary-black: hsl(240, 10%, 15%);
  --quaternary-black: hsl(240, 5%, 25%);
  --grey-1: hsl(0, 0%, 50%);
  --grey-2: hsl(0, 0%, 25%);
  --grey-3: hsl(0, 0%, 45%);
  --font-weight-medium: 500;
  --font-weight-light: 300;
  --font-size-h1: 36px;
  --font-size-large: 18px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
  --font-size-ss: 12px;
  --toggle-size: 16px;
  --toggle-color: hsl(211, 50%, 70%);
  --toggle-color-dark: hsl(211, 30%, 50%);
  --scroll-bar: 5px;
  --menu-width: 260px;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-ExtraLight"),
    url("fonts/Inter-ExtraLight.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"), url("fonts/Inter-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  cursor: crosshair;
}
body {
  background-color: var(--secondary-black);
  color: var(--primary-white);
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
  position: relative;
}
body.close {
  overflow: hidden;
}

ul,
li {
  list-style: none;
  outline: none;
}
button,
input,
select,
textarea,
label {
  font-family: inherit;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
input[type="number"] {
  width: 48px;
  margin-inline-end: 1rem;
  border-radius: 4px;
  text-align: end;
}
select {
  font-size: var(--font-size-small);
  background-color: var(--primary-black);
  color: var(--tertiary-white);
  padding: 2px 4px;
  margin-inline-end: 1rem;
  cursor: pointer;
  text-align: end;
  border-radius: 4px;
}
select:focus-visible {
  background-color: var(--secondary-black);
}

.backdrop {
  width: 100lvw;
  height: 100lvh;
  background-color: var(--secondary-black);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}
.menu {
  width: var(--menu-width);
  position: fixed;
  padding-block-start: 1.2rem;
  padding-block-end: 1rem;
  /* border-radius: 1rem; */
  background-color: var(--primary-black);
  height: 100vh;
  z-index: 10;
  overflow: scroll;
  overscroll-behavior-y: contain;
  scrollbar-gutter: stable;
  transition: transform 0.2s ease-out;
}
.menu.close {
  transform: translateX(calc(0px - var(--menu-width)));
}

.main {
  padding-block: 3rem;
  padding-inline: 5rem;
  margin-inline-start: var(--menu-width);
  transition: margin 0.2s ease-out;
}
.main.close {
  margin-inline-start: 0;
}
.grid {
  max-width: 980px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "description"
    "notes";
  gap: 2rem;
  place-items: start;
}
.title {
  max-width: 100%;
  width: 360px;
  grid-area: title;
}

.description {
  grid-area: description;
  background-color: var(--primary-black);
  padding: 2rem;
  padding-inline: 3rem;
  border-radius: 1rem;
  font-weight: var(--font-weight-light);
  margin-block-start: 2px;
}
.description button {
  padding-inline: 12px;
  padding-block: 4px;
  background-color: var(--primary-black);
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
  border-radius: 1rem;
  margin-inline-end: 6px;
  cursor: pointer;
}
.description button:focus-visible {
  background-color: var(--primary-white);
  color: var(--secondary-black);
}
.description ol {
  counter-reset: list;
}
.description li {
  position: relative;
  list-style: none;
  padding-inline-start: 2rem;
  line-height: 1.6;
  text-wrap: balance;
}
.description li::before {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: var(--font-weight-medium);
  color: var(--primary-white);
  counter-increment: list;
  content: counter(list) ".";
}
.description li + li {
  margin-block-start: 1rem;
}
.notes {
  grid-area: notes;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.note {
  background-color: var(--primary-black);
  padding: 2rem;
  padding-inline: 3rem;
  border-radius: 1.5rem;
  font-weight: var(--font-weight-light);
  line-height: 1.6;
}
.note span {
  font-weight: var(--font-weight-medium);
}
.note span + span {
  font-weight: var(--font-weight-light);
  padding-inline-start: 1rem;
}
.list li {
  padding-inline-start: 2rem;
  display: grid;
  grid-template-columns: 80px 1fr;
}
.list .color-name {
  grid-column: 1 / 2;
}
.list .color-description {
  grid-column: 2 / 3;
}

.image-container {
  display: none;
  height: auto;
  margin-inline-start: var(--menu-width);
  transition: margin 0.2s ease-out;
  position: relative;
}
.image-container.close {
  margin-inline-start: 0;
}
.image-container canvas {
  vertical-align: bottom;
  margin-inline: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.canvas-base {
  background-color: var(--primary-black);
}

.icon svg {
  width: 14px;
  fill: var(--icon);
  margin-inline-end: 8px;
  transform: translateY(2px);
}
.object-icon svg {
  fill: var(--primary-white);
  width: 14px;
  height: 14px;
  vertical-align: top;
  transform: translateY(1px);
}
.margin-inline-end-4px {
  margin-inline-end: 4px;
}
.margin-inline-end-8px {
  margin-inline-end: 8px;
}
.button {
  width: 95%;
  height: 100%;
  margin-inline: auto;
  font-size: var(--font-size-small);
  padding-inline-start: 1.5rem;
  /* padding-inline-end: 0.5rem; */
  border-radius: 8px;
  font-weight: var(--font-weight-medium);
  background-color: var(--primary-black);
  color: var(--primary-white);
  line-height: 2.2;
  text-align: left;
  cursor: pointer;
}
.button:focus-visible {
  background-color: var(--secondary-black);
}
.button-type-b {
  cursor: auto;
}
.button-type-b:focus-visible {
  background-color: var(--primary-black);
  color: var(--primary-white);
}
.button:focus-visible svg {
  fill: var(--icon);
}
.button label {
  color: var(--tertiary-white);
}

label {
  line-height: 1.5;
  padding-inline: 1rem;
  border-radius: 1rem;
}
label:focus-visible {
  box-shadow: 0 0 0 1px var(--tertiary-white) inset;
}

.close-button {
  width: 32px;
  height: 24px;
  font-size: 10px;
  border-radius: 0.3rem;
  background-color: var(--secondary-black);
  color: var(--primary-white);
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.2rem;
  z-index: 10;
}
.close-button.close {
  display: none;
}
.close-button:focus-visible {
  outline: 1px solid var(--primary-white);
}
.open-button {
  width: 32px;
  height: 24px;
  font-size: 10px;
  border-radius: 0.3rem;
  background-color: var(--primary-black);
  color: var(--primary-white);
  cursor: pointer;
  position: fixed;
  top: 1.5rem;
  left: 1.2rem;
  transition: opacity 0.2s ease-in;
}
.open-button.close {
  opacity: 0;
  pointer-events: none;
}
.open-button:focus-visible {
  outline: 1px solid var(--primary-white);
}
.toggle-button {
  display: inline-block;
  position: relative;
  width: var(--toggle-size);
  height: calc(var(--toggle-size) * 3 / 4);
  border-radius: calc(var(--toggle-size) * 3 / 4);
  background-color: var(--grey-1);
  cursor: pointer;
  transition: background-color 0.4s;
  margin-inline-end: 1rem;
  transform: translateY(1px);
}
.toggle-button:has(:checked) {
  background-color: var(--toggle-color-dark);
}
.toggle-button::after {
  position: absolute;
  top: -1.5px;
  left: 0;
  width: var(--toggle-size);
  height: var(--toggle-size);
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  background-color: var(--tertiary-white);
  content: "";
  transition: left 0.4s;
}
.toggle-button:has(:checked)::after {
  left: var(--toggle-size);
  background-color: var(--toggle-color);
}
.toggle-button-input {
  display: none;
}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
}
.margin-left {
  margin-left: 1.5rem;
}

.margin-block-end-1 {
  margin-block-end: 1rem;
}

.row-1 {
  margin-right: auto;
}

#file-input {
  display: none;
}

.object {
  color: var(--grey-1);
  font-size: var(--font-size-small);
  padding-inline-start: 1.5rem;
  padding-block: calc(1rem / 2);
  transform: translateY(4px);
}

.input-color {
  border: none;
  background: none;
  width: 3ch;
  cursor: pointer;
}
.overlay {
  width: 100%;
  height: 100lvh;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 50%;
  display: none;
  z-index: 1;
}
.overlay.close {
  display: block;
}
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--secondary-black);
  }
  .button-type-b:hover {
    background-color: var(--primary-black);
    color: var(--primary-white);
  }
  .description button:hover {
    background-color: var(--primary-white);
    color: var(--primary-black);
  }
  .open-button:hover {
    outline: 1px solid var(--primary-white);
  }
  .close-button:hover {
    outline: 1px solid var(--primary-white);
  }
  select:hover {
    background-color: var(--secondary-black);
  }
  .description button:active {
    background-color: var(--primary-black);
    color: var(--primary-white);
  }
  .button:active {
    background-color: var(--quaternary-black);
  }
  .button-type-b:active {
    background-color: var(--primary-black);
  }
}
@media (hover: none) and (any-pointer: coarse) {
  .menu {
    position: fixed;
    width: var(--menu-width);
    padding-block-end: 4rem;
  }
  .close-button {
    display: none;
  }
  .open-button {
    width: 48px;
    height: 48px;
    position: fixed;
    top: auto;
    right: auto;
    left: 1rem;
    bottom: 4rem;
    background-color: var(--tertiary-black);
  }
  .grid {
    grid-template-areas:
      "title"
      "description"
      "notes";
    gap: 1rem;
    grid-template-columns: 100%;
  }
  .notes {
    gap: 1rem;
  }
  .note {
    border-radius: 1rem;
    padding-inline: 2rem;
  }
  .main {
    padding-block: 1rem;
    padding-inline: 1rem;
  }
  .main .flex {
    flex-direction: column;
    align-items: start;
  }
  .description {
    padding: 1.5rem;
    padding-inline: 2rem;
    border-radius: 1rem;
    margin-block-start: 0px;
  }
  .main .note .flex {
    flex-direction: row;
  }
  #fileInput {
    width: 100%;
  }
  .object {
    padding-inline-start: 1.5rem;
  }
  .margin-left {
    margin-left: 0;
  }
  .description button:active {
    background-color: var(--primary-white);
    color: var(--secondary-black);
  }
  .button:active {
    background-color: var(--quaternary-black);
  }
  .button-type-b:active {
    background-color: var(--primary-black);
  }
  input[type="number"] {
    width: 48px;
    margin-inline-end: 1rem;
    border-radius: 4px;
    text-align: end;
    padding-inline-end: 8px;
  }
}

@media (width < 800px) and (hover: hover) and (pointer: fine) {
  .menu {
    position: fixed;
    width: var(--menu-width);
  }
  .grid {
    grid-template-areas:
      "title"
      "description"
      "notes";
    gap: 1rem;
    grid-template-columns: 100%;
  }
  .notes {
    gap: 1rem;
  }
  .note {
    border-radius: 1rem;
    padding-inline: 2rem;
  }
  .main {
    padding-block: 1rem;
    padding-inline: 1rem;
  }
  .main .flex {
    flex-direction: column;
    align-items: start;
  }

  .description {
    padding: 1.5rem;
    padding-inline: 2rem;
    border-radius: 1rem;
    margin-block-start: 0px;
  }
  .main .note .flex {
    flex-direction: row;
  }
  #fileInput {
    width: 100%;
  }
  input {
    max-width: 30%;
  }
  input[type="number"] {
    width: 48px;
    margin-inline-end: 1rem;
    border-radius: 4px;
    text-align: end;
    padding-inline-end: 8px;
  }
  .object {
    padding-inline-start: 1.5rem;
  }
  .margin-left {
    margin-left: 0;
  }
  .description button:active {
    background-color: var(--primary-white);
    color: var(--secondary-black);
  }
  .button:active {
    background-color: var(--quaternary-black);
  }
  .button-type-b:active {
    background-color: var(--primary-black);
  }
}
